/* * {
    border: 1px solid red;
} */

/* mobile-first coding */

/* backgrounds */

#index-body, .art-body, .code-body {
    background-repeat: no-repeat;
}

#index-body, .art-body, .code-body, #blog-body {
    background-size: cover;
}

#index-body {
    background-image: url("././images/mobile/background-mobile-home.png");
}

.art-body, #blog-body {
    background-image:url("././images/mobile/background-mobile-art.png");
}

#blog-body {
    background-repeat: repeat-y;
}

#hero, nav, .blog-post, form {
    background-color: #fff;
}

.code-body {
    background-image: url("././images/mobile/background-mobile-code.png");
}

.project-body {
    background-image: url("././images/mobile/background-mobile-projects.png");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: top;
}

/* index hero */

#hero {
    opacity: 90%;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 65%;
}

#hero h1, #hero h2 {
    color: #183450;
    text-align: center;
    margin:0.4em;
}

#hero h1 {
    font-family: 'Euphoria Script', cursive;
    font-size: 2.8rem;
    font-weight: 200;
    margin-bottom: 0;
}

#hero h2 {
    font-family: 'Fira Code', monospace;
    font-size: .8rem;
    font-weight: 300;
    margin-top: 0;
}

/* header for all pages */

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

nav {
    position: fixed;
    z-index:2;
    width: 100%;
    opacity: 80%;
    margin: 3% -3% 0 -3%;
    border: 2px solid #183450;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

a {
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    color:#183450;
    font-size: 1em;
    font-weight: 300;
    padding: 2%;
}

a.selected {
    font-weight: 700;
}

/* content */

#bio {
    border: 2px solid #739be0;
}

#bio, #stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-top: 25%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 5%;
}

#bio, #stack {
    background-color: #fff;
    opacity: 85%;
}

#stack {
    margin-bottom: 8%;
    border: 1px solid #183450;

}

p {
    font-family: 'Fira Code', monospace;
    color: #183450;
    font-size: .9em;
    font-weight: 300;
    text-align: center;
}

#resume-link {
    text-decoration: underline;
}


.blog-post h1 {
    font-family: 'Fira Code', monospace;
    color: #183450;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2%;
}

.blog-post h2, #projects h2 {
    font-family: 'Fira Code', monospace;
    color: #183450;
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    margin-top:0;
    margin-bottom: 2%;
}

#projects h1 {
    display:flex;
    justify-content: center;
    font-family: 'Euphoria Script', cursive;
    color: #183450;
    font-size: 2.2em;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
}

#projects p {
    color: #183450;
    margin: 0;
}

#projects-intro {
    margin-top: 25%;
    margin-bottom: 10%;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin:auto;
}

.projects {
    border: 2px solid #183450;
    padding: 3% 3% 5% 3%;
    margin-bottom: 2%;
}

#blog {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    width: 90%;
    margin-top: 20%;
}

.blog-post {
    opacity: 80%;
    padding: 2%;
    border: 2px solid #739be0;
    margin-bottom: 5%;
}

/* icons and images */

#socials {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

img {
    width: 2.5em;
    height: auto;
    padding: 1%;
}

.stack-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.thumb {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* submission form page */

#form-div {
    background-color: #fff;
    opacity: 90%;
    border: 2px solid #183450;
    width: 90%;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 5%;
}


#form-div h1 {
    font-family: 'Euphoria Script', cursive;
    color: #183450;
    font-weight:200;
    font-size: 3em;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
    padding-left: 7%;
    padding-right: 7%;
}

.form-item {
    font-family: 'Fira Code', monospace;
    color: #183450;
    font-weight: 300;
    font-size: .7em;
    padding-bottom: 2%;
}

label, input, textarea {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    margin: auto;
    border: none;
}

label {
    text-align: center;
}

input, textarea {
    background-color: #e4e7eb;
}

button {
    width: 25%;
    height: 50%;
    font-family: 'Euphoria Script', cursive;
    font-size: 1.7em;
    color: #fff;
    background-color: #183450;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

#contact-details {
    margin-top: 8%;
}

#contact-details {
    font-family: 'Fira Code', monospace;
    color: #fff;
    text-align: center;
    font-size: .7em;
    padding-bottom: 5%;
}


/* media queries for landscape mobile and tablet view */

@media (min-width: 650px) {
    #index-body {
        background-image: url("././images/desktop/background_desktop-home.png");
    }

    #hero {
        margin-top: 20%;
    }

    #bio, #stack {
        margin-top: 15%;
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
    }

    #form-div {
        margin-top: 15%;
    }

    .form-item {
        font-size: 1.1em;
    }

    input, textarea {
        padding: 3%;
    }

    #contact-details {
        font-size: 1em;
    }

    #form-div h1 {
        font-size: 7em;
    }

    button {
        font-size: 2em;
    }
}


