/* * {
    border: 1px solid red;
} */

#index-body {
    background-image: url("././images/mobile/background-mobile-home.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

#art-body {
    background-image:url("././images/mobile/background-mobile-lilac.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#hero {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 65%;
}

#hero h1, #hero h2 {
    color: #183450;
    text-align: center;
    margin:0.4em;
}

#hero h1 {
    font-family: 'Euphoria Script', cursive;
    font-size: 2.8rem;
    font-weight: 200;
    margin-bottom: 0;
}

#hero h2 {
    font-family: 'Fira Code', monospace;
    font-size: .8rem;
    font-weight: 300;
    margin-top: 0;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background-color: #fff;
    opacity: 80%;
    margin: 3% -2% 0 -2%;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

a {
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    color:#183450;
    font-size: 1em;
    font-weight: 300;
    padding: 2%;
}

a.selected {
    font-weight: 700;
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin-top: 65%;
    margin-left: 8%;
    margin-right: 8%;
}

#bio p {
    font-family: 'Fira Code', monospace;
    color: #fff;
    font-size: .9em;
    font-weight: 300;
    text-align: center;
}

#bio #resume-link {
    color: #183450;
}